@if (AuthenticationHelper.IsRoleContains(RoleHelper.Admin))
{
    <a asp-controller="Roles" asp-action="Add" class="btn btn-outline-success mb-2">Ekle</a>
}


 @* 1. Yöntem *@
@* @await Component.InvokeAsync("RoleTable"); *@

<vc:role-table></vc:role-table>


@* <partial name="Partials/Roles/_RoleTablePartial" model="Model"/> *@

