@model List<UserResponseDto>

<role-content filter-role="@RoleHelper.Admin" roles="AuthenticationHelper.GetUserRoles()">
    <a asp-controller="Users" asp-action="Add" class="btn btn-outline-success mb-2">Ekle</a>
</role-content>

@* @await Component.InvokeAsync("UsersTable",new{users=Model}) *@

@* <vc:users-table users="Model"></vc:users-table> *@
<partial name="Partials/Users/_UsersTablePartial" model="Model"/>

@* @Html.Partial("Partials/Users/_UsersTablePartial",model:Model) *@

