@model Product
<form asp-controller="Products" asp-action="Update" method="post">
    <div class="mb-3">
        <label asp-for="Id" class="form-label">Id</label>
        <input asp-for="Id" type="text" class="form-control" readonly>
    </div>

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Ad</label>
        <input asp-for="Name" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Price" class="form-label">Ürünün Değeri</label>
        <input asp-for="Price" type="number" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="Stock" class="form-label">Stok Adedi</label>
        <input asp-for="Stock" type="text" class="form-control">
    </div>

    <div class="mb-3">
        <label asp-for="CategoryName" class="form-label">Kategori Adı</label>
        <input asp-for="CategoryName" type="text" class="form-control">
    </div>
    <button type="submit" class="btn btn-outline-warning">Güncelle</button>
    <a  asp-action="Anasayfa" asp-controller="Products" class="btn btn-outline-success">Anasayfaya Dön</a>
</form>