@model User

<p class="text-warning fs-1 fst-italic bg-danger">Merhaba Burası Kişi Sayfası.</p>

<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">@Model.Name @Model.Surname</h5>
        <h6 class="card-subtitle mb-2 text-muted">@Model.Email</h6>
        <p class="card-text"><strong>Yaş :</strong>@Model.Age</p>
    </div>
</div>